<div class="container mt-5">
    <div class="row mb-5">
        <div class="col text-center">
            <h2 class="font-weight-bold">Rankrr</h2>
            <h5>Sentiment Based Product Ranking With Emojis & Emphasized Words Interpretation</h5>
            <p>Demonstration web app by W1761865 | 2018008</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col mb-4">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                  <h5 class="card-title">Rankrr Demo</h5>
                  <p class="card-text">Look into the demo dataset of Amazon apparel products & reviews. Compare the ranking with and without emoji & emphasized words</p>
                  <a routerLink="/demo" class="btn btn-primary">Try Now</a>
                </div>
              </div>
        </div>
        <div class="col mb-4">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                  <h5 class="card-title">Text Cleaner & Analyzer</h5>
                  <p class="card-text">Clean & analyze emphasized informal words with repeating letters and/or intentional spelling mistakes. </p>
                  <a routerLink="/text-analyzer" class="btn btn-primary">Try Now</a>
                </div>
              </div>
        </div>
    </div>
</div>